<div class="modal-header">
  <h4 class="modal-title">{{ name }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <form #addForm="ngForm" class="row g-3">
    <ng-container *ngFor="let model of models">
      <div
        class="col-md-{{ model.colSpace }}"
        *ngIf="model.type != 'Dropdown'; else Dropdown"
      >
        <label class="form-label">{{ model.label }}</label>
        <input
          type="{{ model.type }}"
          class="form-control"
          id="{{ model.id }}"
          name="{{ model.id }}"
          ngModel
          required
        />
      </div>
      <ng-template #Dropdown>
        <div
          ngbDropdown
          style="padding-top: 2em"
          class="col-md-{{ model.colSpace }}"
        >
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            {{ getCurrentSelection }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              (click)="getSelectId(data.id, addForm.value, model.id, model)"
              *ngFor="let data of model.dataSet"
              ngbDropdownItem
            >
              {{ data.nombre }}
            </button>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <button
    class="btn btn-primary"
    (click)="passBack(addForm.value)"
    type="submit"
  >
    Agregar
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
