<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <ng-container *ngFor="let model of Headers">
          <th scope="col">
            {{ model.header }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of currentModels; let i = index">
        <td *ngFor="let b of body">
          <ng-container *ngIf="b.value == 'index'"> {{ i + 1 }}</ng-container>

          <ngb-highlight
            *ngIf="b.type != 'date'; else typeDate"
            [result]="model[b.value]"
          ></ngb-highlight>
          <ng-template #typeDate>
            {{ model[b.value] | date: "dd-MM-yyyy" }}
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="pagination()"
    >
    </ngb-pagination>

    <select
      class="form-select"
      style="width: auto"
      [(ngModel)]="pageSize"
      name="pageSize"
      (ngModelChange)="pagination()"
    >
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
      <option [ngValue]="-1">All</option>
    </select>
  </div>
</form>
