<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start fill">
    <div class="container position-absolute top-50 start-50 translate-middle">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <p class="my-5 display-3 fw-bold ls-tight h1">
            Reestablecer contraseña
          </p>
          <p class="h3">
            Si tiene una cuenta con nostros introduzca su correo elecrtronico en el recuadro de la derecha para proceder
            a reestablecer su contraseña
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <h2 class="mb-4">
                  Olvido su contraseña?
                </h2>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Correo electronico</label>
                </div>


                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Enviar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->