@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
}


.fill {
    background-color: #f3f3f3;
    min-height: calc(100vh - 11rem); /*Numero magico*/
}

.center-image{
    display: grid;
    place-items: center;
}

.icono-grande{
    font-size: 30px;
}





